.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link{
  color:black !important;
  font-variant: small-caps !important;
  
}
.active{
  color:black !important;
  font-weight: bold !important;
}


.caro_cap{
  position:relative !important;
  top:-300px !important;
  left:420px !important;
}
.caro_cap1{
  position:relative !important;
  top:-250px !important;
  left:150px;
  width:300px;
}

b{
  cursor: pointer;
}
#b1{
   text-decoration: underline !important;
   font-weight: bold !important;
}
#b2{
  text-decoration: none !important;
}

#id1:hover{
   box-shadow: 0 0 4px 2px rgb(230, 230, 230);
}


.prod{
  box-shadow: 0 0 5px 2px rgb(224, 223, 223) !important;
  border-radius: 6% !important;
}
